# Dependencies
**/node_modules/
**/.next/

# Local env files
.env*.local
.env

# Next.js
freelance-dashboard/out/
freelance-dashboard/standalone/

# Production
freelance-dashboard/dist/
freelance-dashboard/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
